<h1>All Sessions</h1>

<%= link_to 'New Session', new_session_path %>
<%= link_to 'Join Session', join_session_path %>
 
<table>
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>Player A</th>
    <th>Player B</th>
    <th>Actions</th>
  </tr>
 
  <% @sessions.each do |session| %>
    <tr>
      <td><%= session.id %></td>
      <td><%= session.status %></td>
      <td><%= session.player_a.name %></td>
      <td>
        <% if !session.player_b.nil? -%>
          <%= session.player_b.name %>
        <% end -%>
      </td>
      <td>
        <% if session.player_b.nil? -%>
          <%= link_to 'Join', controller: "sessions", action: "join", id: session.id %> | 
        <% end -%>
        <%= link_to 'View', session %>
      </td>
    </tr>
  <% end %>
</table>