<h1>New Session</h1>
 
<%= form_with url: sessions_path, remote: false do |form| %>
  <p>
    <%= form.label :stones, "# of Stones" %><br>
    <%= form.text_field :stones, value: 100 %>
  </p>
  <p>
    <%= form.label :name, "Player A's Name" %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.submit "Create Session" %>
  </p>
<% end %>