<h1>Session History</h1>
 
<table>
  <tr>
    <th>Player</th>
    <th>Time</th>
    <th>Stones Removed</th>
    <th>Stones Left</th>
    <th>Reset</th>
  </tr>
 
  <% @session.moves.order(id: :asc).each do |move| %>
    <tr>
      <td><%= move.user.name %></td>
      <td><%= move.end_time.to_i - move.start_time.to_i %> s</td>
      <td><%= move.stones_removed %></td>
      <td><%= move.stones_after %></td>
      <td><%= move.reset %></td>
    </tr>
  <% end %>
</table>

<% if @session.status != "end" -%>
  <script>auto_refresh();</script>
<% end -%>