<!DOCTYPE html>
<html>
  <head>
    <title>NYU HPS Expanding Nim</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <style>
      th, td {
        border: 1px solid lightgray;
      }
    </style>
    
    <script>
      function auto_refresh() {
        var time = 3;

        setInterval(() => {
          if (time == 0) {
            window.location.reload();
            time = 3;
          } else {
            document.getElementById("auth-refresh-msg").innerHTML = "This page will refresh in " + time + " seconds ...";
          
            time -= 1;
          }
        }, 1000);
      }
    </script>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <p><strong><%= type.upcase %>:</strong> <%= msg %></p>
      </div>
    <% end %>
    <% if @errors -%>
    <ul>
      <% @errors.each do |key, msgs| %>
        <% msgs.each do |msg| %>
          <li><%= key %> <%= msg %></li>
        <% end %>
      <% end %>
    </ul>
    <% end -%>
    
    <%= yield %>
    <p id="auth-refresh-msg"></p>
  </body>
</html>
